

    <nav class="bg-gray-800 bg-opacity-90 shadow-lg  px-16 py-2">
        <div class="flex items-center justify-between">
            <div>
                <a href="#" class="text-white text-lg font-bold"><img class="w-16 h-16 rounded-full" src="https://tse4.mm.bing.net/th?id=OIP.0a-R2Iw4jEDXWvQkyq4hBgHaHa&pid=Api&P=0&h=180" alt=""></a>
            </div>
            <div>
                <ul class="flex space-x-4">
                    <li><a href="/" class="text-green-300 hover:text-white">Home</a></li>
                    <li><a href="/create" class="text-green-300 hover:text-white">Entry</a></li>
                    <li><a href="/readall" class="text-green-300 hover:text-white">Library</a></li>
                    <li><a href="/about" class="text-green-300 hover:text-white">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
