<%- include("./partials/header")%> <br><br>
<form action="/create" method="post">
    <input type="text" placeholder="book name" name="name"><br><br>
    <input type="text" placeholder="author name" name="author"><br><br>
    <input type="text" placeholder="price name" name="price"><br><br>
    <input type="text" placeholder="language" name="language"><br><br>
    <button>ADD</button>
    
</form>
<%- include("./partials/footer")%>


